body {
    background: linear-gradient(to top, rgb(132, 197, 240), rgb(21, 132, 236), rgb(1, 62, 119));
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
  }
.secao{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 200px 0px 0px 30px;
}
  .container {
    text-align: center;
    color: rgb(101, 139, 223);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
 
  .btn {
    width: 200px;
    margin-left: 60px;
    text-decoration: none;
    background-color: #f7f6f4;
    color: #0f0f0f;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #d3d4d3;
    
  }

 